/* Main Menu */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

ul.topnav li {
    float: right;
}

ul.topnavli a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #367c39;
}

ul.topnav a.active {
    background-color: #367c39;
}

/* End Main Menu */

/* Side Menu */

ul.bottomnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

ul.bottomnav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.bottomnav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.bottomnav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* End Side Menu */