
/* Main Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 290px;
    overflow: hidden;
    background-color: #ffff;
	/*border-top-style: solid;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
	font-size: 24px;
    text-align: center;
	font-weight: bold;
    padding: 25px 26px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

/* End Main Menu*/

img {
    position: absolute;
    z-index: -1;
}

/* side menu */

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/* End side menu*/