ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff;
	border: 1px solid #555;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 26px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

.fa-angle-down{
  padding-left: 5px; 
}